<div class="top-navigation">
  <div class="top-navigation__content">
    <div class="container">
      <a href="/">
        <h1 class="top-navigation__title">Rick & Morty</h1>
      </a>

      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-schwifty" id="schwifty-mode">Toggle Schwifty Mode</button>
      </div>

      <nav class="navbar rick-morty-navbar navbar-expand-lg p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/picklerick">Pickle Rick</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ballfondlers">Ball Fondlers</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>