<nav>
    <div class="site-title">
        <a href="/">
            <h1>Rick & Morty Pezevenkleri</h1>
        </a>
    </div>

    <nav class="navbar rick-morty-navbar navbar-expand-lg p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/characterepisodes">Character Episodes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs/create">New Blog</a>
            </li>
          </ul>
        </div>
      </nav>
</nav>